* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  -webkit-tap-highlight-color: transparent;
  /* border:1px solid yellow; */
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #201919b8;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-blend-mode: darken;
  overflow: hidden;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: none; /* Hide by default */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  border: 8px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#weather-container {
  display: grid;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}

#search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}
.search-button,
.magnify-logo {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input[type="search"] {
  height: 30px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ffffff;
  padding: 0.5em;
  outline: none;
  color: #ffffff;
  font-weight: 700;
}

input[type="search"]::placeholder {
  color: #bcb8b3;
  font-weight: 200;
  padding: 0.5em;
  font-size: 1.4rem;
}

.units-button {
  height: 40px;
  width: 40px;
  background-color: rgb(3, 106, 150);
  color: #ffffff;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  outline: none;
  border: none;
  cursor: pointer;
}

.f-button:focus,
.units-button.change-color {
  background-color: rgba(255, 255, 255, 0.872);
  color: #022f42;
}

#date-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.date {
  color: #ffffff;
  font-style: italic;
  font-weight: 600;
}

#location-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.location,
.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city {
  color: #ffffff;
  font-weight: 900;
  text-align: center;
}

.temp,
.status-text {
  color: #ffffff;
  font-weight: 500;
}

#features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.6em;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border-radius: 10px;
}

.f-button {
  background-color: rgb(3, 106, 150);
  border-radius: 4px;
  padding: 1em 0.5em;
  width: 7em;
  height: 4vh;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-value {
  width: 260px;
  color: #ffffff;
  font-weight: 500;
  padding-left: 2.25em;
}
#daily-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  border-radius: 10px;
}

.day-container {
  width: 100%;
  align-items: center;
  display: flex;
  gap: 1.2em;
}
.day,
.max-min-value {
  color: #ffffff;
  font-weight: 600;
}

.item {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 2em;
}

.daily-item {
  width: 260px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.max-min-value {
  display: flex;
  justify-self: center;
}
#footer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  background-color: #000000;
  padding: 0.5em;
  border-radius: 8px 8px 0 0;
}

.footer-logo {
  width: 101px;
  height: 36px;
  background-color: #000000;
}

.weather-api-image {
  background-color: #ffffff;
}

.status-logo {
  width: 50px;
}
.days-logo {
  width: 2em;
  height: 2em;
}
.temp {
  font-size: 2.1rem;
}

.weekday{
  margin-left: -1.2em;
  padding: 1em .5em;
}

.row{
  background-color: rgba(54, 50, 50, 0.425);
  border-radius: 8px;
  padding: 1em;
}
@media (max-width:568px){
  .row{
    display: flex;
    flex-direction: column;
  }
}
